{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div style="margin-left:10px;margin-top:20px">
  {% if form.errors %}
    <p>{% trans "Error, please try again!" %}</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "You do not have access to this information. You must sign in." %}</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{% trans "User:" %} </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{% trans "Password:" %} </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="{% blocktrans %}Sign In{% endblocktrans %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p><a href="{% url 'password_reset' %}">{% trans "Forgotten password?" %}</a></p>
</div>
{% endblock %}